@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.linksForNav a {
    text-decoration: none;
    color: white;
}

/* Card */

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 19vw;
    cursor: pointer;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #96ccff;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 0.5rem;
    border-width: 0.25rem;
    box-sizing: border-box;
}

.oneD {
    display: flex;
    width: 100%;
    margin: 5vh 0 10vh 0;
}

.oneD {
    padding: 0 2vw;
}

.decade212 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.decade212 .card {
    width: 40vw;
    height: 28vh;
    background-color: lightgreen;
}